<div id="login" class="offset4 span4">
  <h2>Login</h2>
  <div id="login" class="well">
    <%= form_for @user, :url => session_path do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <p><%= f.submit "Signin", :class => 'btn btn-primary' %></p>
    <% end %>
  </div>

  <% if flash[:alert] %>
    <div class="alert alert-error"><%= flash[:alert] %></div>
  <% end %>

  <div class="well well-small text-center">
    <h4><%= link_to 'Signup for a new account.', signup_path %></h4>
  </div>
</div>
