<!DOCTYPE html>
<html>
<head>
  <title>Confab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://js.pusher.com/1.11/pusher.min.js", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      
      <div class="container">
        <%= link_to "Confab", root_path, :class => "brand" %>
      </div>
    </div>
  </div>
  
  <div class="container-fixed">
    <%= yield %>
  </div>

</body>
</html>
